# Flutter/Dart/Pub
.dart_tool/
.packages
.pub-cache
.pub/
/build/

# Visual Studio Code
.vscode/

# Android
/android/.gradle
/android/app/**/*.keystore
**/local.properties

# iOS
/ios/Pods/
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/ios/ServiceDefinitions.json
/ios/Runner/GeneratedPluginRegistrant.*
/ios/Runner/Generated.xcconfig

# IntelliJ
*.iml
.idea/

# Logs
*.log

# Generated
flutter_export_environment.sh

# Environment files
.env
